<div id="<%= dom_id field %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Form step:</strong>
    <%= field.form_step_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= field.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= field.type %>
  </p>

</div>
