<div id="<%= dom_id form_step %>">
  

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= form_step.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= form_step.order %>
  </p>

</div>
