<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing form step</h1>

  <%= render "form", form_step: @form_step %>

  <%= link_to "Show this form step", template_form_step_path(@template,@form_step),, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to form steps", template_form_steps_path(@template),, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
